:host {
    box-sizing: border-box;
    display: flex;
    width:100%;
    padding: 16px;
    color: var(--panel-text-color);
}

.title {
    font-size: 1em;
    margin: 0;
    font-weight: 400;
}

.header-options {
    margin-left:auto;
}