:host {
    display: flex;
    width:100%;
    padding: 16px;
    color: var(--panel-text-color);
}

.title {
    font-size: 1em;
    margin: 0;
    font-weight: 400;
}

.header-icons {
    margin-left:auto;
    .mat-icon-button {
        height: 100%;
        width: 20px;
        line-height: 20px;
        font-size: 20px;
        margin-left: 8px;
    }
}