:host {
    display: flex;
    width:100%;
    padding: 8px;
}

.name-input-container {
    padding: 8px;
    border-radius: 2px;
    border-bottom: solid 1px var(--primary-background-dark);
    max-width: 600px;
    width: 100%;
}

.name-input {
    border: none;
    background-color: transparent;
    font-size: 1em;
    outline: none;
    width: 100%;
    
    &::placeholder {
        color: var(--panel-text-color);
    }
}

.save-button {
    margin-left:auto;
}