:host {
    display: flex;
    position: relative;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    padding: 8px;
    flex-wrap: wrap;
    background-color: #fff;

    hr {
        flex-basis: 100%;
        border: none;
        margin: 0;
    }

    mat-form-field, header {
        margin: 16px;
    }
    
    mat-menu {
        position: absolute;
    }

    .image-container {
        position: relative;
    
        img {
            width: auto;
            height: auto;
            max-height: 200px;
        }
        .options {
            background-color: rgba(255,255,255, 0.87);
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
}

.card-action {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
}

.image-selector {
    display: none;
}