<ng-container *ngIf="quizzes.length > 0; else noQuizzes">
  <h3 class="section-header">Available Quizzes</h3>
  <div class="quiz-selection-area">
    <div (click)="createQuiz()" class="quiz-card mat-elevation-z3">
      <header class="title">
        <h3>Create a Quiz</h3>
        <button mat-icon-button class="icon-button-small edit">
          <mat-icon>add</mat-icon>
        </button>
      </header>
    </div>
    <div (click)="playQuiz(quiz)" class="quiz-card mat-elevation-z3" *ngFor="let quiz of quizzes">
      <header class="title">
        <h3>{{ quiz.name }}</h3>
        <small> {{ quiz.cards.length }} card{{ quiz.cards.length > 0 ? 's': ''}}</small>
        <button mat-icon-button class="icon-button-small edit" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(quiz)">
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete(quiz)">         
            <span>Delete</span>
          </button>
        </mat-menu>
      </header>
      <div></div>
      <section>
        <p>{{ quiz.description }}</p>
      </section>
    </div>
  </div>
</ng-container>
<ng-template #noQuizzes>
  <h3 class="section-header">Your Quizzes</h3>
  <p>You have no quizzes. <a [routerLink]="['/create']">Create</a> a quiz?</p>
</ng-template>