<ng-container *ngIf="quizzes.length > 0; else noQuizzes">
  <h3 class="section-header">Available Quizzes</h3>
  <div class="quiz-selection-area">
    <div (click)="playQuiz(quiz)" class="quiz-card mat-elevation-z3" *ngFor="let quiz of quizzes">
      <h3 class="title">{{ quiz.name }} <small> {{ quiz.cards.length }} card{{ quiz.cards.length > 0 ? 's': ''}}</small></h3>
      <div></div>
      <section>
        <p>{{ quiz.description }}</p>
      </section>
    </div>
  </div>
</ng-container>
<ng-template #noQuizzes>
  <h3 class="section-header">Your Quizzes</h3>
  <p>You have no quizzes. <a [routerLink]="['/create']">Create</a> a quiz?</p>
</ng-template>