@import 'responsive-breaks.scss';

:host {
    padding: 8px;
    display: block;
}

.quiz-card {
    padding: 8px 16px;
    cursor: pointer;
    border-top: solid 4px transparent;
    &:hover {
        border-color: var(--primary-background-light);
    }

    header {
        padding-bottom: 8px;
        display: flex;
        align-items: center;

    }
    
    small {
        margin-left: 16px;
        color: #999;
    }

    .edit {
        margin-left: auto;
    }
}

.section-header {
    margin: 16px 8px;
}

.quiz-selection-area {
    display: grid;
    grid-gap: 16px;
    align-items: flex-start;

    @include respond-to(small) {
        grid-template-columns: 1fr;
    }
    @include respond-to(medium) {
        grid-template-columns: 1fr 1fr;
    }
    @include respond-to(wide) {
        grid-template-columns: 1fr 1fr 1fr;;
    }
}
