@import './app-theme';

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto,sans-serif;
    color: var(--panel-text-color);
}

h1, h2, h3, h4, p {
    margin: 0;
    font-weight: 400;
}

small {
    opacity: 0.87;
}

@media (max-width: 500px) {
    padding: 10px;
}

router-outlet + *{
    display: block;
}

button[mat-icon-button].icon-button-small {
    height: 30px;
    width: 30px;
    line-height: 30px;
}