:host {
    display: grid;
    grid-template-areas: "metadata-summary metadata-summary" "metadata-entry quiz-area";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    align-items: start;
}

quiz-metadata {
    grid-area: metadata-summary;
}

edit-quiz-details {
    grid-area: metadata-entry;
    height: calc(100vh - var(--top-nav-height));
    width: 300px;
}

.card-section {
    grid-area: quiz-area;
    padding: 16px 32px;
    box-sizing: border-box;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

flash-card-panel, .create {
    min-height: 150px;
}

.save-quiz {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 52;
}

.card-container {
    position: relative;
    width: 100%;
}

.insert-button {
    display: none;
    position: absolute;
    top: 50%;
    z-index:4;
    &.before {
        left: 0px;
        transform: translate(-25px, -50%);
    }
    &.after {
        right: 0px;
        transform: translate(25px, -50%);
    }

    @media (pointer: fine) {
        .card-container:hover & {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .card-section {
        grid-template-columns: 1fr;
        padding: 8px 8px;
    }
    edit-quiz-details {
        height: 100vh;
        position: absolute;
        overflow-y: auto;
        width: 100vw;
        z-index: 99;
        transition: transform 300ms ease-in, opacity 300ms ease-in;
        transform-origin: top;
    }
    edit-quiz-details.collapse {
        transform: scaleY(0);
        opacity: 0;
    }
}
@media (min-width: 501px) {
    edit-quiz-details.collapse {
        display: none;
    }
}