<quiz-metadata *ngIf="!editing || !largeScreen" class="color-primary-light" 
    [quizMetaData]="metadata" (save)="createQuiz()" (edit)="edit()"></quiz-metadata>
<form class="metadata-area mat-elevation-z3" (submit)="editing = false" [ngClass]="{ collapse: !editing }">
    <mat-form-field>
        <input name="name" matInput placeholder="Title" [(ngModel)]="metadata.name">
    </mat-form-field>
    <mat-form-field>
        <textarea name="description" matInput matTextareaAutosize placeholder="Description" [(ngModel)]="metadata.description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of metadata.categories" selectable="false" removable="true" (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Enter a tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                matChipInputAddOnBlur="false" (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
    </mat-form-field>
    <button class="save-button" (click)="editing = false" class="save-button" mat-raised-button color="accent">Save</button>
</form>
<div class="quiz-body">
    <create-card-panel class="mat-elevation-z3" (create)="createCard($event)"></create-card-panel>
    <section class="card-section">
        <ng-container *ngFor="let card of cards; trackBy: trackByCard">
            <flash-card-panel class="mat-elevation-z3" [ngClass]="{ highlighted: isHighlighted(card) }"
                [cardInfo]="card"
                (press)="highlight(card)">
            </flash-card-panel>
        </ng-container>
    </section> 
</div>