:host {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

.quiz-body {
    padding: 24px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card-section {
    padding: 30px 0px;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: start;
}

flash-card-panel.highlighted {
    background-color: #dddddd;
}

@media (max-width: 500px) {
    .card-section {
        grid-template-columns: 1fr;
    }
}