:host {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    padding: 0px;
    align-items: start;
}

.quiz-body {
    padding: 24px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.card-section {
    padding: 30px 0px;
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: start;
}

flash-card-panel.highlighted {
    background-color: #dddddd;
}

.metadata-area {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: calc(100vh - var(--top-nav-height));
    width: 300px;
    background-color: #fff;
    
    mat-form-field {
        width: 100%;
    }
}

.save-button {
    align-self: flex-end;
    margin-top: 24px;
}

@media (max-width: 500px) {
    .card-section {
        grid-template-columns: 1fr;
    }
    .metadata-area {
        box-sizing: border-box;
        height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: 99;
        transition: transform 300ms ease-in, opacity 300ms ease-in;
        transform-origin: top;
    }
    .metadata-area.collapse {
        transform: scaleY(0);
        opacity: 0;
    }
}
@media (min-width: 501px) {
    .metadata-area.collapse {
        display: none;
    }
}