:host {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

flash-card-panel {
    max-width: 600px;
    max-height: 400px;
    width: 95vw;
    height: 95vw;
}

.card-container {
    position: relative;
}

.card-control {
    position: absolute;
    top: 50%;
    &.left {
        left: 0px;
        transform: translate(-100%, -50%)
    }
    &.right {
        right: 0px;
        transform: translate(100%, -50%)
    }
}