<div class="card-container" (swipeleft)="next()" (swiperight)="previous()">
  <ng-container *ngFor="let card of stack; let ind = index">
    <flash-card-panel [@cardPos]="calcState(card)" [card]="card"></flash-card-panel>
  </ng-container>
  <button mat-icon-button class="card-control left" (click)="previous()" [disabled]="currentCard === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="card-control right" (click)="next()" [disabled]="currentCard === cards.length - 1">
      <mat-icon>chevron_right</mat-icon>
    </button>
</div>