@import 'responsive-breaks.scss';

:host {
    padding: 8px;
    display: block;
}

.create-card {
    grid-column: 1 / -1;
    button {
        margin-left: auto;
    }
}

.quiz-card {

    cursor: pointer;
    border-top: solid 4px transparent;
    &:hover {
        border-color: var(--primary-background-light);
    }
    
    footer {
        padding: 0px 16px;
        display: flex;
        justify-content: flex-end;
    }

    .body {
        padding: 16px;
        p {
            margin: 8px;
            color: #555;
        }
    }

    .title {
        display: flex;
        align-items: center;
    }
    
    small {
        margin-left: 16px;
        color: #999;
    }

    hr {
        margin: 0;
        border: solid 1px #ccc;
    }

}

.section-header {
    margin: 16px 8px;
}

.quiz-selection-area {
    display: grid;
    grid-gap: 16px;
    align-items: flex-start;

    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}
