<h3 class="section-header">Available Quizzes</h3>


<div class="quiz-selection-area">
  <div (click)="createQuiz()" class="quiz-card create-card mat-elevation-z3">
    <section class="body">
      <header class="title">
        <h3>Create a Quiz</h3>
        <button mat-icon-button class="icon-button">
          <mat-icon>add</mat-icon>
        </button>
      </header>
    </section>
  </div>
  <div (click)="playQuiz(quiz)" class="quiz-card mat-elevation-z3" *ngFor="let quiz of quizzes">
    <section class="body">
      <header class="title">
        <h3>{{ quiz.name }}</h3>
        <small> {{ quiz.cards.length }} card{{ quiz.cards.length > 0 ? 's': ''}}</small>
        
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(quiz)">
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete(quiz)">         
            <span>Delete</span>
          </button>
        </mat-menu>
      </header>
      <p>{{ quiz.description }}</p>
    </section>
    <hr />
    <footer (click)="$event.stopPropagation()">
      <button mat-icon-button (click)="edit(quiz)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(quiz)">
        <mat-icon>delete</mat-icon>
      </button>
    </footer>
  </div>
</div>