:host {
    min-width: 40%;
    padding: 10px 20px;
    background-color: #fff;
}

@media (max-width: 500px) {
    :host {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.action-icons {
    margin-left: auto;
}